@import '../base/base.scss';

.product {
  width: calc(100% - 472px);
  padding-top: 41px;
  padding-left: 71px;
  padding-right: 95px;
  @media (max-width: 1599.98px) {
    width: calc(100% - 352px);
    padding-left: 41px;
    padding-right: 55px;
  }
  @media (max-width: 1399.98px) {
    width: calc(100% - 259px);
    padding-top: 27px;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (max-width: 1199.98px) {
    width: calc(100% - 20px);
    padding: 10px;
  }
  &_title {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
  }

  &__block {
    width: 968px;
    background-color: $base;
    box-shadow: 0px 10px 60px 0px #e2ecf980;
    border-radius: 30px;
    margin-top: 51px;
    @media (max-width: 1399.98px) {
      width: 878px;
    }
    @media (max-width: 1199.98px) {
      width: 100%;
      margin-top: 20px;
    }
  }

  &__row {
    padding-top: 30px;
    height: 101px;
    @include flex-row;
    justify-content: flex-start;
    padding-left: 38px;
    padding-right: 0;
    @media (max-width: 1399.98px) {
      padding-left: 10px;
    }
    @media (max-width: 1199.98px) {
      padding-left: 38px;
    }
    @media (max-width: 991.98px) {
      padding-left: 38px;
      padding-right: 38px;
      justify-content: space-between;
    }
    @media (max-width: 575.98px) {
      padding-left: 10px;
      padding-right: 10px;
      justify-content: space-between;
    }
    @media (max-width: 450px) {
      @include flex-column;
      padding-top: 10px;
      height: auto;
    }
    &_text {
      width: 661px;
      @media (max-width: 1399.98px) {
        width: 589px;
      }
      @media (max-width: 991.98px) {
        width: 50%;
      }
      @media (max-width: 450px) {
        width: 100%;
      }
    }

    &_title {
      font-size: 22px;
      font-weight: 600;
      line-height: 33px;
      letter-spacing: -0.01em;
    }

    &_active {
      font-family: 'Poppins';
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: -0.01em;
      color: #16C098;
      margin-top: 7px;
    }
  }
  &__header {
    display: grid;
    grid-template-columns: 172px 131px 156px 207px 153px 45px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #B5B7C0;
    padding-left: 38px;
    padding-bottom: 13px;
    border-bottom: 1px solid #EEEEEE;
    @media (max-width: 1399.98px) {
      grid-template-columns: 165px 125px 150px 198px 153px 45px;
      padding-left: 10px;
    }
    @media (max-width: 1199.98px) {
      padding-left: 38px;
    }
    @media (max-width: 991.98px) {
      grid-template-columns: 1fr 100px;
    }
    @media (max-width: 1199.98px) {
      grid-template-columns: 1fr 80px;
      padding-left: 10px;
    }
  }
  &__items {
    width: calc(100% - 80px);
    padding: 0 42px 0 38px;
    @media (max-width: 1399.98px) {
      width: calc(100% - 20px);
      padding: 0 10px 0 10px;
    }
    @media (max-width: 1199.98px) {
      width: calc(100% - 80px);
      padding: 0 42px 0 38px;
    }
    @media (max-width: 575.98px) {
      width: calc(100% - 20px);
      padding: 0 10px 0 10px;
    }
  }
  &__futor {
    @include flex-row;
    width: calc(100% - 80px);
    padding: 30px 42px 40px 38px;
    @media (max-width: 1399.98px) {
      width: calc(100% - 20px);
      padding: 20px 10px 30px 10px;
    }
    @media (max-width: 1199.98px) {
      width: calc(100% - 80px);
      padding: 20px 42px 30px 38px;
    }
    @media (max-width: 767.98px) {
      flex-direction: column-reverse;
      width: calc(100% - 20px);
      padding: 10px 38px;
    }
    &_show {
      font-family: 'Poppins';
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: -0.01em;
      padding: 2px 0 1px 0;
      color: #B5B7C0;
      @media (max-width: 767.98px) {
        margin-top: 5px;
      }
    }
    &_pagination {
      width: 269px;
    }
  }
}

.search {
  width: 216px;
  margin-top: 15px;
  margin-bottom: 15px;  
}
