@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../../fonts/#{$file_name}.ttf") format("truetype");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}


@include font("Poppins", "Poppins-Regular", "400", "normal");
@include font("Poppins", "Poppins-Medium", "500", "normal");
@include font("Poppins", "Poppins-SemiBold", "600", "normal");